@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #FAFAFA;
  overflow-x: hidden;
  min-width: 375px;
}
@media screen and (min-width: 1440px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

header {
  height: 130px;
  display: grid;
  place-items: center;
}
@media screen and (min-width: 1440px) {
  header {
    height: 169px;
  }
}

.hero {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto;
  place-items: center;
}
@media screen and (min-width: 1440px) {
  .hero {
    width: 1534px;
    height: 358px;
    grid-template-columns: auto auto auto;
    grid-template-rows: 1fr;
  }
}
.hero .hero__image-container {
  width: 100%;
  height: 153px;
  background-image: url("./assets/tablet/image-hero.png");
  background-size: 414px 153px;
  background-repeat: no-repeat;
  background-position: center top;
  overflow-x: hidden;
}
@media screen and (min-width: 768px) {
  .hero .hero__image-container {
    margin-top: 10px;
    height: 303px;
    background-size: 820px 303px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero__image-container {
    width: 482px;
    height: 303px;
    background-image: url("./assets/desktop/image-hero-left.png");
    background-size: 394px 303px;
    background-position: left top;
    margin-top: 0;
    align-self: start;
    justify-self: start;
  }
}
.hero .hero__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 1440px) {
  .hero .hero__article {
    width: 540px;
    align-self: end;
    justify-self: center;
    padding-bottom: 5px;
  }
}
.hero .hero__article h1 {
  width: 280px;
  font-size: 40px;
  line-height: 44px;
  font-weight: 900;
  margin-top: 48px;
  color: #28283D;
}
@media screen and (min-width: 768px) {
  .hero .hero__article h1 {
    width: 339px;
    font-size: 48px;
    line-height: 48px;
    margin-top: 72px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero__article h1 {
    width: 445px;
    font-size: 64px;
    line-height: 64px;
    margin-top: 0;
  }
}
.hero .hero__article p {
  width: 327px;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .hero .hero__article p {
    width: 457px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero__article p {
    width: 540px;
    margin-top: 34px;
    font-size: 18px;
    line-height: 26px;
  }
}
.hero .hero__article .hero-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .hero .hero__article .hero-buttons {
    flex-direction: row;
  }
}
.hero .hero__article .hero-buttons .button-download {
  width: 193px;
  height: 58px;
  border-radius: 29px;
  background-color: #4D96A9;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #FAFAFA;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__article .hero-buttons .button-download:hover {
  background-color: #71C0D4;
}
.hero .hero__article .hero-buttons .button-download strong {
  padding-left: 5px;
  color: #8FE3F9;
}
.hero .hero__article .hero-buttons .button-whatisit {
  margin-top: 16px;
  width: 139px;
  height: 58px;
  border-radius: 29px;
  background-color: #855FB1;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #FAFAFA;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero .hero__article .hero-buttons .button-whatisit:hover {
  background-color: #B18BDD;
}
@media screen and (min-width: 768px) {
  .hero .hero__article .hero-buttons .button-whatisit {
    margin-top: 0;
    margin-left: 16px;
  }
}
@media screen and (min-width: 1440px) {
  .hero .hero__image-container-right {
    width: 482px;
    height: 303px;
    background-image: url("./assets/desktop/image-hero-right.png");
    background-size: 394px 303px;
    background-repeat: no-repeat;
    background-position: right bottom;
    justify-self: end;
    align-self: end;
  }
}

.characteristics {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.characteristics .division-1 {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.characteristics .division-1 .vertical-line {
  border-left: 1px solid #dddde3;
  height: 84px;
}
.characteristics .division-1 .circle-number {
  width: 56px;
  height: 56px;
  border: 1px solid #dddde3;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}
.characteristics .division-1 .circle-number p {
  font-size: 16px;
  font-weight: 900;
  color: #87879D;
}
@media screen and (min-width: 768px) {
  .characteristics .division-1 {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .division-1 {
    margin-top: 110px;
  }
}
.characteristics .characteristics__photos {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  gap: 25px;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__photos {
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    gap: 11px;
    margin-top: 67px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .characteristics__photos {
    gap: 30px;
    margin-top: 64px;
  }
}
.characteristics .characteristics__photos .photo-container {
  width: 151px;
  height: 143px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__photos .photo-container {
    width: 164px;
    height: 156px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .characteristics__photos .photo-container {
    width: 255px;
    height: 242px;
  }
}
.characteristics .characteristics__photos .photo-container img {
  width: 151px;
  height: 143px;
  border-radius: 8px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__photos .photo-container img {
    width: 164px;
    height: 156px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .characteristics__photos .photo-container img {
    width: 255px;
    height: 242px;
  }
}
.characteristics .characteristics__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 64px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__article {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .characteristics__article {
    margin-top: 80px;
  }
}
.characteristics .characteristics__article h3 {
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #4D96A9;
}
.characteristics .characteristics__article h2 {
  width: 327px;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: #28283D;
  margin-top: 24px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__article h2 {
    width: 445px;
    font-size: 40px;
    line-height: 44px;
    margin-top: 16px;
  }
}
.characteristics .characteristics__article p {
  width: 327px;
  font-size: 16px;
  line-height: 26px;
  color: #87879D;
  margin-top: 32px;
}
@media screen and (min-width: 768px) {
  .characteristics .characteristics__article p {
    width: 573px;
  }
}
@media screen and (min-width: 1440px) {
  .characteristics .characteristics__article p {
    width: 540px;
    font-size: 18px;
  }
}

footer {
  width: 100%;
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media screen and (min-width: 768px) {
  footer {
    margin-top: 80px;
  }
}
@media screen and (min-width: 1440px) {
  footer {
    margin-top: 72px;
  }
}
footer .division-container {
  position: relative;
  height: 112px;
}
footer .division-container .division-2 {
  position: absolute;
  left: -28px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .division-container .division-2 .vertical-line {
  border-left: 1px solid #dddde3;
  height: 84px;
}
footer .division-container .division-2 .circle-number {
  width: 56px;
  height: 56px;
  border: 1px solid #dddde3;
  border-radius: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FAFAFA;
}
footer .division-container .division-2 .circle-number p {
  font-size: 16px;
  font-weight: 900;
  color: #87879D;
}
footer .footer__experience {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./assets/desktop/image-footer.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
@media screen and (min-width: 1440px) {
  footer .footer__experience {
    flex-direction: row;
    height: 308px;
  }
}
footer .footer__experience h2 {
  width: 327px;
  font-size: 32px;
  font-weight: 900;
  line-height: 36px;
  color: #FAFAFA;
  margin-top: 92px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  footer .footer__experience h2 {
    width: 457px;
    font-size: 40px;
    line-height: 44px;
  }
}
@media screen and (min-width: 1440px) {
  footer .footer__experience h2 {
    width: 350px;
    margin-top: 0;
    text-align: start;
  }
}
footer .footer__experience p {
  width: 327px;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
  margin-top: 24px;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  footer .footer__experience p {
    width: 573px;
    margin-top: 32px;
  }
}
@media screen and (min-width: 1440px) {
  footer .footer__experience p {
    width: 350px;
    margin-top: 0;
    margin-left: 125px;
    text-align: start;
  }
}
footer .footer__experience .footer-button {
  margin-top: 32px;
  margin-bottom: 72px;
  width: 193px;
  height: 58px;
  border-radius: 29px;
  background-color: #855FB1;
  font-size: 16px;
  font-weight: 900;
  line-height: 26px;
  color: #FAFAFA;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
footer .footer__experience .footer-button:hover {
  background-color: #B18BDD;
}
@media screen and (min-width: 768px) {
  footer .footer__experience .footer-button {
    margin-top: 40px;
    margin-bottom: 66px;
  }
}
@media screen and (min-width: 1440px) {
  footer .footer__experience .footer-button {
    margin: 0 0 0 92px;
  }
}
footer .footer__experience .footer-button strong {
  padding-left: 5px;
  color: #D9B8FF;
}
footer .footer__experience .color-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #4D96A9;
  opacity: 0.9;
}

/*# sourceMappingURL=main.css.map */
