footer 
    .division-container
        .division-2
            .vertical-line 
            .circle-number
                p 02
    .footer__experience
        h2 Experience more together
        p Stay connected with reliable HD meetings and unlimited one-on-one and group video sessions.
        a.footer-button(href="#") Download
            strong v1.3
        .color-overlay