main
    section.hero 
        .hero__image-container
            img(src="./assets/tablet/image-hero.png", alt="Image of diffrent people")
        .hero__article
            h1 Group Chat for Everyone
            p Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
            .hero-buttons 
                a.button-download(href="#") Download
                    strong v1.3
                a.button-whatisit(href="#") What is it?
    section.characteristics 
        .division-1
            .vertical-line 
            .circle-number
                p 01
        .characteristics__photos 
            .photo-container
                img(src="./assets/desktop/image-woman-in-videocall.jpg", alt="Woman in videocall")
            .photo-container
                img(src="./assets/desktop/image-women-videochatting.jpg", alt="Women videochatting")
            .photo-container
                img(src="./assets/desktop/image-men-in-meeting.jpg", alt="Men in meeting")
            .photo-container
                img(src="./assets/desktop/image-man-texting.jpg", alt="Man texting")
        .characteristics__article 
            h3 Built for modern use
            h2 Smarter meetings, all in one place
            p Send messages, share files, show your screen, and record your meetings — all in one workspace. Control who can join with invite-only team access, data encryption, and data export.