main
    section.hero 
        .hero__image-container
            img(src="./assets/tablet/image-hero.png", alt="Image of diffrent people")
        .hero__article
            h1 Group Chat for Everyone
            p Meet makes it easy to connect with others face-to-face virtually and collaborate across any device.
            .hero-buttons 
                a.button-download(href="#") Download
                    strong v1.3
                a.button-whatisit(href="#") What is it?