doctype 

html(lang="en")

    head
        meta(charset="UTF-8")
        link(rel="icon", href="./assets/favicon-32x32.png", type="image/png", sizes="32x32")
        link(rel="stylesheet", href="main.css")
        title Frontend Mentor | Meet landing page

    body
        include layout/_header.pug
        include layout/_main.pug
        include layout/_footer.pug
